<div id="container">
    <div>
        <p class="l upper bolder">welcome!</p>
        <p class="m">Coding is a creative and fun process. It's nothing similar to what my restaurant owner neighbor Leo thinks it is.
            Most of the time is being spent on thinking rather than doing. Smart decisions can deliver a project real fast.
        </p>
        <p class="m">I'm levan (or levi). full stack angular/aspnet core developer. passionate about angular, typescript, javascript,
            c# and databases.</p>
    </div>
    <div style="padding-top:0px; margin-top:0px;">
        <p class="s right">created by me on a sunny day of 18 Feb, 2018 in The Hague, Netherlands</p>
    </div>

    <div class="exp-text" style="margin:0px; padding-top:0px;">
        <p class="upper title-t">projects and experience</p>
        <p>I wrote my first line of code in
            <a href='https://en.wikipedia.org/wiki/Pascal_(unit)'>
                Pascal</a> programming language at high school 11 years ago. Inspired by tech minded people around me I started
            computer science bachelors...
        </p>
        <p>I have 7+ years of working experience as a full stack web developer.
            <br/>Tech stack: C#, .NET Core, Restful services, JavaScript,
            <a href='https://angular.io'>Angular</a>, Ember, EF, Unit Testing, TDD, SQL, MongoDB & NodeJS. I write clean & testable code and I love to
            unit test every bit of it.
        </p>
    </div>
    <div class="exp-text" style="padding-top:0px; margin-top:0px;">
        <p class="upper title-t">I worked for:</p>
        <ul>
            <li>
                <a target="_blank" href='http://pds.group/'>PDS Group</a> (also known as Petrotechnical Data Systems, Shell) 2017, The Hague, Netherlands</li>
            <li>
                <a target="_blank" href='https://hsbc.com/'>HSBC</a> Global Banking and Markets 2016-17, Krakow, Poland</li>
            <li>
                <a target="_blank" href='http://weather.wsu.edu/'>AgWeatherNet</a> Washington State University 2014-14, WA, US</li>
            <li>2011-2016 I have been working for tech companies in Tbilisi, Georgia where I am originally from</li>
        </ul>
    </div>
</div>